/* background-image: linear-gradient(to bottom, #e5e5e5, #ebebeb, #f2f2f2, #f8f8f8, #ffffff); */
/* background-image: linear-gradient(to right, #ffffff, #fafafa, #f5f5f5, #f0f0f0, #ebebeb, #ebebeb, #ebebeb, #ebebeb, #f0f0f0, #f5f5f5, #fafafa, #ffffff);
background-image: linear-gradient(to bottom, #ffffff, #f8f8f8, #f2f2f2, #ebebeb, #e5e5e5); */
.section1{
    background-image: linear-gradient(to bottom, #e5e5e5, #ebebeb, #f2f2f2, #f8f8f8, #ffffff);
}
.text-color{
    color:#ea3732 ;
}
.img-s1{
    max-width:100%;
    height:auto;
}
.img2-s1{
    max-width: 15%;
}
.btn-s1{
    background-color: black;
    color: white;
    box-shadow: 5px 7px 3px -2px rgba(234,55,50,1);
}
.btn-s1:hover{
    box-shadow: none;
}
.section1 h1{
    font-size: 50px;
}
 p{
    font-size: 18px;
    font-weight: 500;
     color: black;
}
.section-head{
color: #ea3732;
font-weight: 650;
font-size: 40px !important;
}
.img-s3{
    max-width: 60%;
    height: auto;
}
.img-s3-div{
    width: 175px;
    height: 175px;
   background-color: white;
   border-radius: 50%;
   border: 3px solid black;
   box-shadow: 0px 0px 200px 0px rgb(0 0 0 / 38%);
}
.img-s3-img{
    max-width: 51%;
    padding-top: 43px;
}

.s4-img-wrap{
    background-image: linear-gradient(to right, #ffffff, #fafafa, #f5f5f5, #f0f0f0, #ebebeb, #ebebeb, #ebebeb, #ebebeb, #f0f0f0, #f5f5f5, #fafafa, #ffffff);
}
.s4-img-logo{
    max-width: 24%;
    height: auto;
}
.section-border-top{
    border-top: 3px solid #ea3732;
}
.section-border-bottom{
    border-bottom: 3px solid #ea3732;
}
.hr-border{
    border-bottom: 7px solid black;
    opacity: 100%;
    margin: 0;
    position: relative;
    top: 7px;
}
.s5-img-hr{
    width: 100%;
    height: 3px;
}
.section-7-gradiant{
    background-image: linear-gradient(to bottom, #ffffff, #f8f8f8, #f2f2f2, #ebebeb, #e5e5e5);
}
.s7-img-msg{
max-width: 50%;
height: auto;
}